<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="sass/reset.css">
    <link rel="stylesheet" type="text/css" href="sass/theme.css">
    <link rel="stylesheet" type="text/css" href="sass/admin_user.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css
    ">

    <link rel="shortcut icon" href="./uploads/Logo123.jpg">

    <title>Admin Doctors</title>
</head>

<body>
    <nav>

        <a href="index"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
                alt="tvastra-logo"></a>

        <ul class="nav-buttns">
            <li>
                <a href="tavastraplus"> <button class="secondary-bttn-dark tvsatraplus">
                        Tvastra plus
                    </button></a>

            </li>
            <li> <button class="secondary-bttn-dark">Get a Qoute</button>

            </li>

            <li class="dropdown">

                <button class="primary-bttn username">Admin</button>


                <div class="dropdown-content">
                    <a href="#" class="name-profile">
                        <div class="name-profile-div">
                            <figure>
                                <img src="./uploads/vector-users-icon.webp" alt="">
                            </figure>
                            <span> <big>Administrator</big>
                                <small>9876545674</small>
                            </span>

                        </div>
                    </a>
                    <a href="#" class="drop-anchor">My Appointments</a>
                    <a href="#" class="drop-anchor">My Medical Reports</a>
                    <a href="#" class="drop-anchor">My Lab Tests</a>
                    <a href="#" class="drop-anchor">My Payments</a>
                    <form action="/logout" method="POST">
                        <button type="submit" class="drop-anchor">Log Out</button>
                    </form>

                </div>



            </li>



        </ul>


        <i class="fas fa-bars"></i>

    </nav>
    <main>
        <section>
            <div class="dashboard">
                <h3>Dashboard</h3>
                <ul>
                    <li>
                        <a href="admin_dashboard"><i class="fas fa-user-alt"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li><a href="Admin_User"><i class="fa fa-th-list"></i> <span>Users</span>
                        </a></li>
                    <li><a href="Admin_Doctor" class="links"><i class="far fa-calendar-check"></i> <span>Doctors</span>
                        </a></li>
                    <li><a href="Admin_hospital"><i class="fa fa-file-alt"></i> <span>Hospitals</span> </a></li>
                    <li><a href="admin_settings"><i class="fa fa-user-cog"></i> <span> Settings</span></a></li>

                </ul>
            </div>
            <div class="hospital_survey">
                <h2> All Doctor</h2>
                <div class="users">

                    {{#each user as |value key|}}
                    <figure>
                        <img src="./uploads/{{value.myfile}}" alt="">
                        <a onclick="showMenu({{key}})" class="menuicon">
                            <div>
                                <i class="fas fa-bars"></i>
                            </div>
                        </a>
                        <ul class="menuItems" id="menuItem{{key}}" style="display:none;">
                            <li><a href="/adminEditProfile?id={{value._id}}">Edit Profile</a>
                            </li>
                            <li><a href="/adminUserAllAppointments?id={{value._id}}">
                                    Appointments</a></li>
                            <li><a href="/adminMedicalReports?id={{value._id}}">Medical
                                    Reports</a>
                            </li>
                        </ul>
                        <figcaption>
                            <h4>{{value.name}}</h4>
                            <ul>
                                <li><i class="fas fa-phone-alt"></i><span>{{value.pnumber}}</span></li>
                                <li><i class="fas fa-envelope"></i><span>{{value.email}}</span></li>
                                <li><i class="fas fa-venus-mars"></i><span>{{value.gender}}</span></li>
                                <li><i class="fas fa-calendar-week"></i><span>Jun 02 1998</span></li>
                                <li><i class="fas fa-address-card"></i><span>{{value.city}}, {{value.state}}</span></li>
                            </ul>
                        </figcaption>
                    </figure>
                    {{/each}}
                </div>


            </div>
        </section>
    </main>


</body>
<script>

    async function showMenu(menuId) {
        var menuItem = document.querySelector("#menuItem" + menuId);
        if (menuItem.style.display == "none")
            menuItem.style.display = "flex";
        else
            menuItem.style.display = "none";
    }


</script>

</html>